#banner {
    position: relative;
}

#banner .banner-img {
    background: #202020;
}

#banner img {
    width: 100%;
    height: 90vh;
    opacity: 0.7;

}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    text-align: center;
    width: 100%;
}

#banner h2 {
    font-size: 70px;
    margin-bottom: 10px;
    box-shadow: 1px;
}

#banner p {
    font-size: 30px
}

#banner .contenedor a {
    border: solid #fff;
    color: #fff;
}

#banner .contenedor a:hover {
    background: rgba(32,32,32.7);
    border: solid #202020;
}








/* BANNER 02 */ 


#banner02 {
    position: relative;
    margin: 0px;
}

#banner02 .banner-img02 {
    background: #202020;
}

#banner02 img {
    width: 100%;
    height: 65vh;
    opacity: 0.7;
    object-fit: cover;

}

#banner02 .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    text-align: center;
    width: 100%;
}

#banner02 h1 {
    font-size: 70px;
    margin-bottom: 10px;
    box-shadow: 1px;
}

#banner02 p {
    font-size: 30px
}

#banner02 .contenedor a {
    border: solid #fff;
    color: #fff;
}

#banner02 .contenedor a:hover {
    background: rgba(32,32,32.7);
    border: solid #202020;
}


