* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

.cuerpo-contenedor .cuerpo-contenedor-form {
    padding: 10px;
    margin: 20px;
}

.cuerpo-contenedor .cuerpo-contenedor-form h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.cuerpo-contenedor .cuerpo-contenedor-form div{
    width: 20%;
    height: 30px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-align: center;
}

.cuerpo-contenedor .cuerpo-contenedor-form input,select {
    width: 50%
}

#btn {
    display: block;
    padding: 10px;
    width: 80px;
    cursor: pointer;
}

table {
    width: 100%;
    padding: 0 30px;
    border-spacing: 0;
    
}

th, td {
    border: 1px solid;
    text-align: center
    
}

td {
    font-size: 15px;
    padding: 10px
}

th {
    font-size: 13px;
    background: #233641;
    color: #fff;
    padding: 10px;
    border: 1px #fff;
}

.menu {
    margin: 30px;
}

.menu a {
    width: 10%;
    display: block;
    background: green;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    text-align: center
}

.menu a:hover {
    -webkit-box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
    transition: 0.5s;
}

