#footer {
 background: #1E1E1E;
    padding: 50px 0px ; 
}

#footer .contenedor {
    text-align: center;
    color: #fff
}

#footer img {
    width : 150px;
    margin: auto;

}

#footer h2 {
    margin: 15px 0 20px 0;
}

#footer ul {
    display: flex;
    justify-content: center;
}

#footer ul li {
    list-style: none;
    
}

#footer ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 20px;
    width: 30px;
    margin: auto;
    font-size: 30px;
}

#footer ul li a:hover{
    color: rgb(102,102,102)
}


#footer a {
    margin: 15px auto;
    display: block;
    width: 10%;
    color: #fff;
    
}

#footer a img {
    margin: 15px auto 30px 0;
    display: block;
    width: 100%;
    
}

#footer .copy {
    padding: 10px 0 5px;
    font-style: italic;
}